.react-datepicker {
  font-size: 1.2rem; /* 전체 폰트 크기 증가 */
  width: 400px; /* 달력 크기 조절 */
}
/* ✅ 이전(<) / 다음(>) 버튼 색상 변경 */
.react-datepicker__navigation {
  color: #22c55e !important; /* Tailwind green-500 */
}

.react-datepicker__header {
  background-color: #afd485; /* Tailwind green-600 */
  color: white;
  font-weight: bold;
}
/* ✅ 이전(<) / 다음(>) 버튼 화살표 색상 변경 */
.react-datepicker__navigation-icon::before {
  border-color: black !important; /* Tailwind green-500 */
}


.react-datepicker__day-name,
.react-datepicker__day {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.react-datepicker__day--selected {
  background-color: #22c55e !important;
  color: white !important;
  border-radius: 8px;
}

.react-datepicker__input-container input {
  border: 2px solid #afd485 !important; /* Tailwind green-500 */
  border-radius: 8px;
  padding: 8px 12px;
  outline: none !important; /* 기본 파란색 포커스 제거 */
}
.react-datepicker__input-container input:focus {
  border-color: #afd485 !important;
  box-shadow: 0 0 5px rgba(34, 197, 94, 0.5); /* Tailwind green-500 */
}
.save-button {
  background-color: #afd485 !important; /* Tailwind green-500 */
  border: none;
  padding: 10px 16px;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}
.save-button:hover {
  background-color: #7DB249 !important; /* Tailwind green-600 */
}

.highlighted-day {
  position: relative;
}

/* 체크 표시 스타일 */
.highlighted-day::after {
  content: "✔";
  color: red; /* Tailwind green-500 */
  font-size: 0.8rem;
  position: absolute;
  bottom: 5px;
  right: 65px;
  font-weight: bold;
}
